/*--------- Imports: ------------------*/
@import "loadingScreen.scss";
@import "messageBox.scss";
@import "mixins.scss";
@import "sidemenu.scss";
@import "hamburger.scss";
@import "adminPanel.scss";
/*--------- Animations: ---------------*/
@keyframes animate-stripes 
{
    from { background-position: 0 0; }
    to   { background-position: -300px 0 }
}
/*--------- Styles: --------------------*/
*
{
    margin:0;
    padding:0;
}
html
{
    font-size:16px;
}
body
{
    background-color:dodgerblue;
	overflow:hidden;
    font-family: Calibri;
}
.buttonLogin
{
    top:60%;
}
.buttonRegister
{
    top:70%;
}
.inputLogin
{
    position: absolute;
    top:40%;
    right:0;
}
.labelLogin
{
    position: absolute;
    top:40%;
    left:10px;
}
.inputPassword
{
    position: absolute;
    right:0;
    top:50%;
}
.labelPassword
{
    position: absolute;
    top:50%;
    left:10px;
}

.loginScreen
{
    position:absolute;
    left:50%;
    top:50%;
    height:300px;
    transform: translate(-50%, -50%);
    width:400px;
    overflow: hidden;
    background-color:dodgerblue;
    color:white;
    font-size:24px;
    // border: 3px solid white;

    input[type="text"]{
        height: 30px;
        width: 150px;
        text-align: center;
        right:0;
    }

    input[type="password"]{
        height: 30px;
        width: 150px;
        text-align: center;
    }

    button{
        position: absolute;
        right:0;
        height: 30px;
        width: 150px;
        box-sizing: content-box;
    }
}