.MessageBox
{
    position: absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    font-family:Calibri;
    color:white;
    text-align:center;
    background-color:rgba(0,0,0,0.7);
    font-size:5vmin;
    cursor:pointer;
    
    div{
        background-color:rgb(0,130,250);
        padding:4vmin;
        cursor:default;
        position: absolute;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
    }
}